// ---------------------------------------------------------
// Main
// ---------------------------------------------------------

@use 'libs';

html{
    background-color: #41B883;
}

body{
    max-width: rem(1200);
    margin: 0 auto;
    background: color(btow, 0);
}